---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>Danielita's Birthday Disney Trip</strong> by Oscar Lima</a></h1>
        <nav>
            <ul>
               
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
            {% if image.path contains 'fulls' %}
                <article class="thumb">
                    <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                    <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt="" data-name="{{ image.name }}"/></a>
                    <!--<h2></h2>
                    <p></p>-->
                </article>
            {% endif %}
        {% endfor %}
    </div>
</div>
